@font-face {
  font-family: 'PPMondwest';
  src: url('./assets/fonts/ppmondwest-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import 'tailwindcss';

@theme {
  --font-header: 'PPMondwest', sans-serif;
  --font-arabic: 'Amiri', 'Traditional Arabic', serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PPMondwest', sans-serif;
}
